.button {
    padding: 10px 50px;
    background-color: var(--white-color);
    border: 1px solid var(--main-color);
    border-radius: 4px;
    transition: var(--transition);
}

.button:hover {
    color: var(--white-color);
    background-color: var(--main-color);
}

.button.primery {
    padding: 10px 58px;
    color: var(--white-color);
    background-color: var(--main-color);
    border: 1px solid var(--main-color);
}

.button.primery:hover {
    color: var(--black-color);
    border: 1px solid var(--black-color);
}

.button.primery.sabmit {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px 0px;
    border-color: var(--white-color);
}

.button.primery.sabmit {
    border-color: var(--black-color);
}

