html,
body {
    height: 100%;
    font-family: "Lato", sans-serif;
    background: var(--header-bg-color);
}
.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.container {
    max-width: calc(var(--container) + 10px + 10px);
    margin-inline: auto;
    padding-inline: 10px;
}
.content {
    flex: 1 0 auto;
}

.blocking-layer {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    opacity: 0;
    width: 100%;
    height: 100%;
    background-color: var(--black-color);
    z-index: -1;
    transition: var(--transition);
}

.blocking-layer.active {
    opacity: 1;
    z-index: 9;
}

.main {
    /* background-color: aqua; */
}