
:root {
    --black-color: #000000;
    --white-color: #ffffff;
    --main-color: #3E9CDC;
    --border-color:#6F6D7B;
    --border-color:#286690;
    --text-color:#C3C3C3;
    
    --header-bg-color:#10101Daa;
    --footer-bg-color:#3D4050;
    --transition: 0.4s cubic-bezier(0.075, 0.82, 0.165, 1);
    
    --container: 1172px;
}

html,
body {
    height: 100%;
    font-family: "Lato", sans-serif;
    background: var(--header-bg-color);
    /* color: var(--text-color); */
}
.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}
.container {
    max-width: calc(var(--container) + 10px + 10px);
    margin-inline: auto;
    padding-inline: 10px;
}
.content {
    flex: 1 0 auto;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: var(--header-bg-color);
}
.header__container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    color: var(--white-color);
}
.menu{
    display: flex;
    gap: 45px;

}
.menu__item{
    cursor: pointer;
    padding: 5px;
    font-weight: 400;
    font-size: 14px;
    text-transform: uppercase;
}
.menu__item:hover{
    color: var(--main-color);
}

.main{
    /* background-color: aqua; */
}

section.lable {
    padding-top: 100px;
}

.footer {
    flex: 0 0 auto;
    width: 100%;
    height: 80px;
    background-color: var(--footer-bg-color);
    color: var(--text-color);
    font-size: 14px;
    padding-block: 30px;
    
}
.footer__container{
    display: flex;
    
    justify-content: space-between;
}
.footer__copyright{
    width: 33%;
}
.footer__wallets{
    display: flex;
    width: 33%;
    justify-content: space-around;
}
.wallet{
    display: flex;
}

.footer__contacts{
    display: flex;
    width: 33%;
    justify-content: space-around;
}
.contact{
    display: flex;
}


